body {
  background: #FAF5F0;
  margin: 0;
  overflow: hidden;
}
html {
  overflow-y: scroll;
}

.header {
  position: relative;
}
.download {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header .skew:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -250%;
  overflow: visible;
  width: 100%;
  height: 900px;
  opacity: 0.3;
  background-image: linear-gradient(186deg, #4299EA 0%, #D4E6F7 100%);
  z-index: -1;
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform: skewY(-2deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: initial;
}

.header .skew .header-inner {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  margin: 0;
}

.logo a {
  color: #291A0A;
  text-decoration: none;
}


.button {
  background-color: #1F4E7A;
  border: none;
  border-radius: 3px;
  color: #D4E6F7;
  cursor: pointer;
  display: inline-block;
  font-size: 1.325em;
  margin: 0 2em;
  min-width: max-content;
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
}

.download span {
  margin-right: 10vw;
}

.hero {
  margin-left: 10vw;
}

main {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main header {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin: 4em auto 2em 0;
  width: fit-content;
}

header img {
  max-width: 48px;
}

header h1 {
  color: #3B332B;
  font-size: 2.5em;
  margin: 0 auto 0.825em;
}

main p {
  color: #3B332B;
  font-size: 1.125em;
  max-width: 36em;
  line-height: 1.475em;
}

a.secondary-cta {
  border-bottom: 2px solid #EDE6DE;
  color: #70665C;
  display: inline-block;
  font-size: 1.125em;
  font-weight: 500;
  margin: 2.5em auto;
  padding-bottom: 0.25em;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a.secondary-cta:hover {
  border-bottom-color: #3B332B;
  color: #3B332B;
  transform: translateY(-2px);
}

.features {
  display: flex;
  margin-right: 10vw;
  justify-content: flex-start;
}

.features article {
  margin-right: 2.875em;
}

.features article header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.features h2 {
  color: #3B332B;
  margin: 0.75em auto 0;
}

.description-wrapper {
  display: flex;
  margin: 15px auto;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-top: 4em;
}

article header img {
  max-width: 32px;
}

.column h2 {
  color: #3B332B;
  font-size: 1.25em;
}

.performance-column {
  height: 100px;
  max-width: 24em;
}

.batch-column {
  height: 100px;
  max-width: 24em;
}

.mockup-column {
  height: 100px;
  max-width: 24em;
}

.center {
  margin-left: 10vw;
  /* margin-bottom: 22%; */
}

footer {
  color: #70665C;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 8em auto 0.5em 10vw;
}

footer h2 {
  font-size: 1.5em;
}

footer a {
  color: #70665C;
  border-bottom: 1px solid #CFCCC9;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

footer a:hover {
  color: #3B332B;
  border-bottom: 1px solid #3B332B;
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .features {
    flex-direction: column;
  }

  .download {
    flex-direction: column;
  }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  body {
    background: #FAF5F0;
    overflow:hidden;
  }
  .header .skew:before { 
    transform: skewY(-12deg);
  }

  .download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    margin-top: 114%;
    position: inherit;
  }

  .download span {
    margin: 0;
    margin-top: 1em;
  }

  .hero {
    position: absolute;
    bottom: 50%;
    top: 17%;
  }

  .features {
    display: none;
  }

  main p, footer p {
    margin-right: 2em;
    font-size: 1.25em;
    hyphens: auto;
  }

  footer p {
    line-height: 1.5em;
  }
  
 }